{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": [".test.tsx", "App.tsx", "main.tsx", "vite-env.d.ts", "pages"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "target": "es2020",
    "transform": { "react": { "runtime": "automatic" } }
  },
  "minify": true
}
